body {
    background-image: url('background.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2%;
    border-radius: 20px;
    font-size: 30px;
}

.link {
    text-align: right;
    color: cyan;
}

h1, h3{
    color: goldenrod;
    text-align: center;
}